$button-color: #0e83cd;
$transition-speed: 0.3s;
/* General button style (reset) */
.btn {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 5px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all $transition-speed;
  -moz-transition: all $transition-speed;
  transition: all $transition-speed;
  :after {
    content: "";
    position: absolute;
    z-index: -1;
    -webkit-transition: all $transition-speed;
    -moz-transition: all $transition-speed;
    transition: all $transition-speed;
  }
}

/* Button 1 */
.btn-1 {
  border: 3px solid $button-color;
  color: $button-color;
  &:focus {
    background-color: lighten($button-color, 40%);
  }
  &:hover,
  &:active {
    color: white;
    background: $button-color;
  }
}
